<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>

        <ion-list id="inbox-list">
          <ion-list-header ><h1 style="color: orange;">Kortex taxi Dashboard</h1></ion-list-header><br>

          <hr>

          <ion-menu-toggle auto-hide="false" color="secondary">
            <ion-list [routerLink]="['/home']" id="labels-list">
              <h4 ><ion-icon name="home-outline" style="margin-right: 10px;"></ion-icon>Home</h4>
             </ion-list>
            <ion-list [routerLink]="['/manage-drivers']" id="labels-list">
               <h4 ><ion-icon name="speedometer-outline" style="margin-right: 10px;"></ion-icon> Drivers</h4>
             </ion-list>
            <ion-list [routerLink]="['/manage-riders']" id="labels-list">
              <h4 ><ion-icon name="car-sport-outline" style="margin-right: 10px;"></ion-icon> Riders</h4>
             </ion-list>
            <!-- <ion-list id="labels-list">
              <ion-icon name="flag-outline"></ion-icon> Set Destination
            </ion-list> -->
            <ion-list [routerLink]="['/trips']" id="labels-list">
              <h4 ><ion-icon name="card-outline" style="margin-right: 10px;"></ion-icon> Trips</h4>
            </ion-list>
            <!-- <ion-list [routerLink]="['/show-profile']" id="labels-list">
              <ion-icon name="person-outline" style="margin-right: 10px;"></ion-icon> View Profile
            </ion-list>
            <ion-list [routerLink]="['/rating-system']" id="labels-list">
              <ion-icon name="star-half-outline" style="margin-right: 10px;"></ion-icon> Rate driver
            </ion-list> -->

          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
         <ion-icon name="log-out-outline" style="margin-right: 10px;"></ion-icon> Logout
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane></ion-app>
