

<ion-content>
  <table style="margin-top: 5px; width: 95%; margin-left: 35px;">
    <thead style="height: 50px;">
    <tr style=" background-color: rgb(209, 190, 190); text-align: left; padding-left: 25px;">
      <th>Full-name</th>
      <th>Number</th>
      <th>Email</th>
      <th>Action</th></tr>
    </thead>
  <tbody>
      <tr *ngFor="let data of users" >
      <td><ul style="margin-left: -35px;">{{data.displayName}}</ul></td>
      <td><ul style="margin-left: -35px;">{{data.PhoneNumber}}</ul></td>
      <td><ul style="margin-left: -35px;">{{data.email}} </ul></td>
      <td><ion-icon style="color: red; margin-left: 20px;"  (click)="delete(data.email)" onload="false" class="btn btn-danger" aria-hidden="true"  name="trash-outline"></ion-icon></td>
      <!-- <td><a role="button" (click)="edit(email)" onload="false" class="btn btn-danger" aria-hidden="true" >Update</a></td> -->

    </tr>

    </tbody>
  </table>
</ion-content>
