

<ion-content>
  <table style="margin-top: 5px; width: 95%; margin-left: 35px;">
    <thead style="height: 50px;">

    <tr style=" background-color: rgb(209, 190, 190); text-align: left; padding-left: 25px;">
      <th>Full-name</th>
      <th>Car-model</th>
      <th>regstration</th>
      <th>Email</th>
      <th>Color</th>
      <th>Number</th>
      <th>Status</th>
      <th>Delete</th>
      <th>View</th>

    </tr>
    </thead>
  <tbody>
      <tr *ngFor="let data of drivers" >
      <td><ul style="margin-left: -35px;">{{data.name}}</ul></td>
      <td><ul style="margin-left: -35px;">{{data.carModel}}</ul></td>
      <td><ul style="margin-left: -35px;">{{data.carNumber}} </ul></td>
      <td><ul style="margin-left: -35px;">{{data.email}} </ul></td>
      <td><ul style="margin-left: -35px;">{{data.color}} </ul></td>
      <td><ul style="margin-left: -35px;">{{data.phoneNumber}} </ul></td>
      <td><ul style="margin-left: -35px;">{{data.status}} </ul></td>

    <td><ion-icon style="color: red; margin-left: 20px;"  (click)="presentAlert(data.email)" onload="false" class="btn btn-danger" aria-hidden="true"  name="trash-outline"></ion-icon></td>
    <td><ion-icon name="eye-outline" style="color: blue" (click)="details(data)"></ion-icon></td>

      <td>

      </td>


      <!-- <td><a role="button" (click)="edit(email)" onload="false" class="btn btn-danger" aria-hidden="true" >Update</a></td> -->

    </tr>

    </tbody>
  </table>

</ion-content>
