<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card *ngFor = "let data of coords">
    requested by:    {{data.name}}      <br>
    Accepted by:           <br>
    date:


    <div #map id='map' style="height: 200px"></div>
  </ion-card>


</ion-content>
